.btn-flexible{
    background-color: var(--clr-secondary);
    border: 0;
    padding: 0.5em;
    font-size: 15px;
    border-radius: 0.7em;
    margin: 8px;
    transition: 0.2s;
}


.btn-flexible:hover {
    color: var(--clr-main);
    scale: 1.1;
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--clr-main);
    padding: 1.5em;
    min-height: 80px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.text-filter{
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.filter-section input {
    height: 50%;
    color: black;
    background-color: var(--clr-main);
    border: 0;
    border-bottom: 1px solid var(--clr-secondary);
}

.sort-opts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sort-opts span {
    margin-inline-end: 15px;
    cursor: pointer;
}

.sort-opts span:hover {
    color: var(--clr-secondary);
}

.grid-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 0.5em;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}


.grid-container img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 1.5em;
    object-fit: cover;
}

.grid-container img:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 8px 2px #888888;
    opacity: 90%;
}

.grid-container img.xxs{
    grid-row: span 3;
}

.grid-container img.xs{
    grid-row: span 4;
}
.grid-container img.s {
    grid-row: span 5;
}

.grid-container img.m {
    grid-row: span 6;
}

.grid-container img.l {
    grid-row: span 7;
}

.grid-container img.xl {
    grid-row: span 8;
}





