.clean-ul{
    list-style: none;
}

.flex{
    display: flex;
}

.main-layout{
    width: 70%;
    margin: auto;
}

.main-header .list{
height: 0;
}

.position{
    position: fixed;
}

.hide{
    opacity: 100%;
}