@import url(vars.css);
@import url(helpers.css);
@import url(header.css);
@import url(footer.css);
@import url(gallery.css);
@import url(editor.css);
@import url(mq.css);

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(225, 225, 225);


}

a {
    color: var(--clr-secondary);
    text-decoration: none;
}

button {
    cursor: pointer;
}




