/* Tablet */
@media (min-width: 650px) {
    .canvas {
        width: 400px;
    }

    .main-header .list {
        position: static;
        width: fit-content;
        margin-inline-end: 0.5em;
        background-color: var(--clr-secondary);
        height: 80px;

    }

    .main-header ul {
        flex-direction: row;
        width: fit-content;
        height: fit-content;

    }

    .main-header ul>li {
        display: flex;
        margin: 0;
        padding-right: 0.5em;
        margin-inline-start: 0.5em;
        width: fit-content;
        height: 10px;

    }

    .main-header ul>li:hover {
        box-shadow: none;
    }

    .user-opts {
        display: none;
    }

    .canvas-container {
        margin-inline-start: 0;
        margin-bottom: 2em;
    }
}



/* Desktop */
@media (min-width: 950px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(150px, 300px));
    }

    .editor div {
        flex-direction: row;
    }

    .canvas-container {
        margin-inline-start: 0 ;
        margin-inline-end: 5em;
        margin-bottom: 2em;
    }
}

@media (max-width: 450px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}